@import './utils/media-breakpoints.scss';

.details-item{
  max-width:unset;
  width:100%;
  padding:0;
  display:flex;
  flex-direction: row;
  min-height:510px;
  align-items: stretch;
  @media (max-width:$breakpoint-tablet){
    flex-direction:column
  }
  .details-image{
    width:50%;
    @media (max-width:$breakpoint-tablet){
      width:100%;
      height:50vh;
    }
    img{
      object-fit:cover;
      width:100%;
      height:100%;
      min-height: 510px;
      @media (max-width:$breakpoint-tablet){
        min-height:50vh;
      }
    }
  }
  .details-text{
    width:50%;
    padding:0 95px;
    @media (max-width:$breakpoint-mediumdesktop) and (min-width:$breakpoint-smalldesktop){
      padding:0 70px;
    }
    @media (max-width:$breakpoint-smalldesktop) and (min-width:$breakpoint-tablet){
      padding:0 60px;
    }
    @media (max-width:$breakpoint-tablet) and (min-width:$breakpoint-mobile){
      width:100%;
      padding:0 75px;
    }
    @media (max-width:$breakpoint-mobile){
      width:100%;
      padding:0 25px;
    }
    h2{
      text-align: left;
    }
    ul{
      list-style-type: circle;
      list-style-position: outside;
      padding:0;
      li{
        font-size:1rem;
        font-weight: 300;
        margin-bottom:20px;
      }
    }
    p{
      line-height: 1.5;
      margin:0 0 20px;
    }
    a{
      border-radius: 6px;
      border:2px solid #23395b;
      padding:15px 30px;
      transition:0.3s;
      display: inline-block;
      margin-bottom:25px;
      text-transform: uppercase;
    }
    a:hover{
      background-color: #fb8723;
      border-color:#fb8723;
      color:white;
    }
    em{
      font-size:0.875rem;
    }
  }
  .details-icons{
    display:flex;
    justify-content: center;
    margin:50px 0;
    @media (max-width:$breakpoint-mobile){
      transform:scale(0.75);
    }
    figure{
      margin:0 10px;
      display:flex;
      flex-direction: column;
      align-items: center;
      img{
        margin-bottom:10px;
      }
    }
  }
}

.details-item:first-of-type{
  p{
    font-size:1.5rem;
  }
}

.bold {
  font-weight: bold;
}

.centered{
  text-align: center;
}

@media (max-width:$breakpoint-tablet){
  .details-item:nth-of-type(2), .details-item:nth-of-type(4){
    flex-direction: column-reverse;
  }
}