@import './utils/media-breakpoints.scss';

.hero-section{
  position:relative;
  background-color: #eeeeee;
  @media (max-width:$breakpoint-tablet){
    background-color: #ffffff;
  }
  .hero-main-content{
    min-height: 675px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #eeeeee;
    @media (max-width:$breakpoint-tablet){
      position: relative;
    }
    .hero-text-container{
      display:flex;
      flex-direction: column;
      justify-content: center;
      z-index:1;
    }
    .hero-image-position-container{
      height:100%;
      @media(max-width:$breakpoint-tablet){
        width:70vw;
        align-self: flex-end;
      }
      .hero-image-container{
          margin:auto;
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          overflow:hidden;
          z-index:0;
          @media (max-width:$breakpoint-tablet){
            height:100%;
          }
      }
    }
    @media (max-width:$breakpoint-smalldesktop) and (min-width:$breakpoint-tablet){
      min-height: 375px;
    }
    @media (max-width:$breakpoint-tablet){
      min-height:285px;
      flex-direction: column-reverse;
      p{
        display:none;
      }
      .hero-text-container{
        align-self: flex-start;
        width:50%;
      }
      .hero-image-container{
        align-self: flex-end;
      }
      }
  }
  p{
    font-size:1.5rem;
    margin:0 0 0 0;
    line-height:1.563;
    @media (max-width:$breakpoint-tablet){
      font-size:1rem;
    }
    a{
      font-size:1.125rem;
      display:inline-block;
      padding:10px 45px;
      color:white;
      font-weight: normal;
      margin-top: 20px;
      background:#23395b;
      border-radius:6px;
      text-transform: uppercase;
      transition:0.3s;
      @media (max-width:$breakpoint-tablet){
        background: white;
        color:#23395b;
        border:2px solid #23395b;
        font-size:1rem;
      }
    }
    a:hover{
      background-color: #fb8723;
      border-color:#fb8723;
      color:white;
    }
  } 
  .hero-mobile-content-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 40px;
    @media (min-width:$breakpoint-tablet){
      margin-top:0;
    }
  }
}



