@import './utils/media-breakpoints.scss';

.hero-section{
  background-color: #eeeeee;
  @media (max-width:$breakpoint-tablet){
    background-color: #ffffff;
  }
  .hero-main-content{
    min-height: 675px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #eeeeee;
    .hero-text-container{
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
    .hero-image-container{
      img{
        height:675px;
        @media (max-width:$breakpoint-smalldesktop) and (min-width:$breakpoint-tablet){
          height: 375px;
        }
        @media (max-width:$breakpoint-tablet){
          height:230px;
        }
      }
    }
    @media (max-width:$breakpoint-smalldesktop) and (min-width:$breakpoint-tablet){
      min-height: 375px;
    }
    @media (max-width:$breakpoint-tablet){
      min-height:285px;
      flex-direction: column-reverse;
      p{
        display:none;
      }
      .hero-text-container{
        align-self: flex-start;
        width:50%;
      }
      .hero-image-container{
        align-self: flex-end;
        display:flex;
        flex-direction: column;
        align-items:center;
        width:70%;
      }
      }
  }
  p{
    font-size:1.5rem;
    margin:0 0 55px 0;
    line-height:1.563;
    @media (max-width:$breakpoint-tablet){
      font-size:1rem;
    }
    a{
      font-size:1.125rem;
      display:inline-block;
      padding:10px 45px;
      color:white;
      font-weight: normal;
      margin-top: 20px;
      background:#23395b;
      border-radius:6px;
      text-transform: uppercase;
      @media (max-width:$breakpoint-tablet){
        background: white;
        color:#23395b;
        border:2px solid #23395b;
        font-size:1rem;
      }
    }
  } 
  .hero-mobile-content-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 40px;
  }
}



