@import './utils/media-breakpoints.scss';

.hero-section{
  background-color: #eeeeee;
  @media (max-width:$breakpoint-tablet){
    background-color: #ffffff;
  }
}

.hero-section > div:first-of-type{
  min-height: 675px;
  display:flex;
  align-items:center;
  background-color: #eeeeee;
  @media (max-width:$breakpoint-smalldesktop) and (min-width:$breakpoint-tablet){
    min-height: 375px;
  }
  @media (max-width:$breakpoint-tablet){
    min-height:285px;
    p{
      display:none;
    }
    div{
      flex-direction: column-reverse;
      img{
        height:230px;
      }
      div:nth-of-type(1){
        align-self: flex-start;
        width:50%;
      }
      div:nth-of-type(2){
        align-self: flex-end;
        display:flex;
        align-items:center;
        width:70%;
      }
    }
  }
}


.hero-section img{
  height:675px;
  @media (max-width:$breakpoint-smalldesktop) and (min-width:$breakpoint-tablet){
    height: 375px;
  }
  @media (max-width:$breakpoint-tablet){
    height:auto;
  }
}

.hero-section p{
  font-size:1.5rem;
  margin:0 0 55px 0;
  line-height:1.563;
  @media (max-width:$breakpoint-tablet){
    font-size:1rem;
  }
  a{
    font-size:1.125rem;
    display:inline-block;
    padding:10px 45px;
    color:white;
    font-weight: normal;
    margin-top: 20px;
    background:#23395b;
    border-radius:6px;
    text-transform: uppercase;
    @media (max-width:$breakpoint-tablet){
      background: white;
      color:#23395b;
      border:2px solid #23395b;
      font-size:1rem;
    }
  }
} 