@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import './utils/media-breakpoints.scss';

* {
  box-sizing: border-box;
  color:#23395b;
}

html{
  font-size:16px;
}

body{
  margin:0;
}

body *{
  font-family: 'Ubuntu', sans-serif;
}

a{
  text-decoration: none;
}

p{
  margin-bottom:25px;
}

.mobile{
  display: none;
  @media (max-width:$breakpoint-tablet){
    display:inline-block;
  }
}