@import './utils/media-breakpoints.scss';

.ourmission-section{
  .testimonial{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:100px;
  }
  q{
    font-style:italic;
    font-size:1.25rem;
    line-height:1.4;
    font-weight: normal;
    text-align: center;
    display:block;
    width:1066px;
    @media (max-width:$breakpoint-smalldesktop){
      width:90vw;
    }
    @media (max-width:$breakpoint-tablet){
      width:90vw;
    }
  }
  p{
    @extend q;
  }
  h2{
    margin-bottom:1rem;
  }
}