@import './utils/media-breakpoints.scss';

section{
  transition:0.5s;
}

section > div{
  max-width:1400px;
  padding:0 30px;
  margin:auto;
}

section h1{
  margin-top:0;
  margin-bottom:25px;
  font-size:3.125rem;
  font-weight: 500;
  line-height: 1.2;
  @media (max-width:$breakpoint-tablet){
    font-size:1.5rem;
  }
}

section h2{
  @extend h1;
  font-size: 2.5rem;
  margin-bottom:50px;
  margin-top:60px;
  text-align:center;
  width:100%;
  @media (max-width:$breakpoint-tablet){
    font-size:1.75rem;
  }
}